footer {
    padding: 18px;
    width: 100vw;
    height: 30vh;
    background-color: #7389c4; /* 사진과 같은 배경색 */
    display: flex;

    justify-content: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    color: white;
}

.footer-section {
    width: 30%;
}

.company-info img {
    width: 30%;
}

.company-info p {
    margin: 5px 0;
}

.lease h3, .trade h3 {
    font-size: 18px;
    margin: 0;
}

.lease p, .trade p, .company-info p {
    font-size: 14px;
    line-height: 1.5;
}

.lease h4 {
    margin-top: 15px;
    font-size: 16px;
}
@media (max-width: 500px) {
    footer{
        height: auto;
    }
    .footer-container {
        margin: 5% 0;
        flex-direction: column;

    }
    .footer-section {
        width: 100%;
        margin-bottom: 10px;
    }
    .footer-section p {
        line-height: normal;
        margin: 7px 0;
    }
}
