#intro {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    background: #333; /* 배경 색상 */
}

.intro-list {
    display: flex;
    transition: margin-left 0.5s ease;
    height: 100%;
}

.intro-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw; /* 각 슬라이드의 너비를 화면 전체 너비로 설정 */
    height: 100vh;
    text-align: center;
    color: #fff;
}

.intro-content span {
    line-height: 1.2em;
    font-size: 60px;
    margin: 0;
    letter-spacing: -6px;
}

.intro-content b {
    color: skyblue;
}

.button-left, .button-right {
    position: absolute;
    transform: translateY(-50%);
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.73);
    border: none;
    padding: 10px;
    cursor: pointer;
}

.button-left {
    top: 65%;
    left: 2%;
}

.button-right {
    top: 65%;
    right: 2%;
}
/* 아래 화살표 스타일 */
.arrow {
    color: white;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%); /* 가운데 정렬 */
    font-size: 2em;
    margin-top: 10%;
    opacity: 0;
    animation: fadeInArrow 2s forwards, bounce 1.5s infinite;
}

/* 화살표 나타나는 애니메이션 */
@keyframes fadeInArrow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* 화살표가 위아래로 움직이는 애니메이션 */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}
@media (max-width: 500px) {
    #intro {
        height: 100vh;
        background-size: cover;
    }

    .intro-content {
        top: 50%;
    }

    .intro-content span {
        font-size: 36px;
        letter-spacing: -3px;
    }

    .arrow {
        font-size: 1.5em;
        margin-top: 15%;
    }
}
