/* 기본 설정 */
body,html {
    font-family: "Noto Sans JP";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100vw;
}
/* 전체 스크롤바의 너비와 높이 설정 */
::-webkit-scrollbar {
    width: 12px; /* 세로 스크롤바의 너비 */
    height: 12px; /* 가로 스크롤바의 높이 */
}

/* 스크롤바 트랙 (스크롤바 배경) */
::-webkit-scrollbar-track {
    background: #ffffff; /* 트랙의 기본 배경색 */
    border-radius: 10px; /* 모서리 둥글게 */
}

/* 스크롤바 핸들 (움직이는 부분) */
::-webkit-scrollbar-thumb {
    background: #888; /* 핸들의 색상 */
    border-radius: 10px; /* 핸들의 모서리 둥글게 */
    border: 3px solid #f0f0f0; /* 핸들의 외곽선, 트랙 배경과 동일한 색상 */
}

/* 스크롤바 핸들에 호버 효과 추가 */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* 마우스를 올렸을 때 색상 */
}



/* 문의 섹션 */
.contact {
    background: #f0f0f0;
    text-align: center;
    padding: 40px 20px;
}

.font-xl {
    font-size: calc(3.5vw); /* 화면 크기에 따라 유동적으로 조정 */
    margin: 15px auto;
    white-space: nowrap; /* 줄바꿈 방지 */
    overflow: hidden; /* 넘치는 텍스트가 화면 밖으로 나가도록 */
}
.font-l {
    font-size: calc(3vw);
    margin: 5px;
    white-space: nowrap; /* 줄바꿈 방지 */
    overflow: hidden; /* 넘치는 텍스트가 화면 밖으로 나가도록 */
}
.font-m {
    font-size: calc(2.3vw);
    margin: 5px;
    white-space: nowrap; /* 줄바꿈 방지 */
    overflow: hidden; /* 넘치는 텍스트가 화면 밖으로 나가도록 */
}
.font-s {
    font-size: calc(1.7vw);
    margin: 5px;
    white-space: nowrap; /* 줄바꿈 방지 */
    overflow: hidden; /* 넘치는 텍스트가 화면 밖으로 나가도록 */
}
.font-xs {
    font-size: calc(1.3vw);
    margin: 5px;
    white-space: nowrap; /* 줄바꿈 방지 */
    overflow: hidden; /* 넘치는 텍스트가 화면 밖으로 나가도록 */
}
@media (max-width: 450px) {
    .font-xl {
        font-size: 35px;
        margin: 10px auto;
        white-space: nowrap; /* 줄바꿈 방지 */
        overflow: hidden; /* 넘치는 텍스트가 화면 밖으로 나가도록 */
    }
    .font-l {
        font-size: 20px;
        margin: 3px;
        white-space: nowrap; /* 줄바꿈 방지 */
        overflow: hidden; /* 넘치는 텍스트가 화면 밖으로 나가도록 */
    }
    .font-m {
        font-size: 12px;
        margin: 3px;
        white-space: nowrap; /* 줄바꿈 방지 */
        overflow: hidden; /* 넘치는 텍스트가 화면 밖으로 나가도록 */
    }
    .font-s {
        font-size: 8px;
        margin: 2px;
        white-space: nowrap; /* 줄바꿈 방지 */
        overflow: hidden; /* 넘치는 텍스트가 화면 밖으로 나가도록 */
    }
    .font-xs {
        font-size: 12px;
        margin: 5px;
        white-space: nowrap; /* 줄바꿈 방지 */
        overflow: hidden; /* 넘치는 텍스트가 화면 밖으로 나가도록 */
    }
}
